<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PEJEX"
        tools:targetApi="31">
        <activity
            android:name=".Registrar"
            android:exported="false" />
        <activity
            android:name=".lista_deseo"
            android:exported="false" />
        <activity
            android:name=".Iniciar_sesion"
            android:exported="false" />
        <activity
            android:name=".categorias_pejex"
            android:exported="false" />
        <activity
            android:name=".PaginaDeInicio"
            android:exported="false" />
        <activity
            android:name=".soporte"
            android:exported="false" />
        <activity
            android:name=".categoria_pekej"
            android:exported="false" />
        <activity
            android:name=".Codigo_Confirmacion"
            android:exported="false" />
        <activity
            android:name=".Detalle_del_pedido"
            android:exported="false" />
        <activity
            android:name=".Pago_con_exito"
            android:exported="false" />
        <activity
            android:name=".Metodo_de_Pago"
            android:exported="false" />
        <activity
            android:name=".porno"
            android:exported="false" />
        <activity
            android:name=".xdPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>